<div class="align-content-center d-flex flex-column p-1 row">
    <div class="col-6">
        <div class="card">
            <img class="card-img-top" src="{{user.avatar}}">
            <div class="card-body">
            <h5 class="card-title" style="display: inline;">{{user.first_name}}</h5>&nbsp;
            <h5 class="card-title" style="display: inline;">{{user.last_name}}</h5><br>
            <h5 class="card-title" style="display: inline;">{{user.email}}</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
    </div>
</div>